.wrapper {
  width: 300px;
  height: 150px;
  background-color: rgb(2, 2, 73);
  border: 2px solid rgb(152, 226, 255);
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  grid-area: "CounterFirstWrapper" "buttonsWrapper";
}

.CounterFirstWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}
.buttonsWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}
.displayWrapper {
  width: 250px;
  height: 80px;
  background-color: rgb(2, 2, 73);
  border: 2px solid rgb(152, 226, 255);
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
}



.buttons {
  width: 250px;
  height: 40px;
  background-color: rgb(2, 2, 73);
  border: 2px solid rgb(152, 226, 255);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}




