.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.text {
  width: 100px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(152, 226, 255);
  font-size: 15px;
  font-weight: bold;
}

.inputs {
  width: 160px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.inputs > input {
  width: 80px;
}

.error {
  width: 80px;
  background-color: darkred;
}
