.wrapper {
  width: 300px;
  height: 150px;
  background-color: rgb(2, 2, 73);
  border: 2px solid rgb(152, 226, 255);
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  grid-area: "CounterFirstWrapper" "buttonsWrapper";
}

.CounterFirstWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}
.buttonsWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}
.counterWrapper {
  width: 250px;
  height: 80px;
  background-color: rgb(2, 2, 73);
  border: 2px solid rgb(152, 226, 255);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons {
  width: 250px;
  height: 40px;
  background-color: rgb(2, 2, 73);
  border: 2px solid rgb(152, 226, 255);
  border-radius: 10px;
  display: flex;
}

.incButton {
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.resetButton {
  width: 254px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.counter {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  color: #07077d;
  width: 120px;
  height: 60px;
}

.highestValue {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-weight: bold;
  color: #970000;
}

.countValue {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  font-weight: bold;
  color: rgb(152, 226, 255);
}
