.button {
  height: 25px;
  font-size: 20px;
  font-weight: bold;
  color: darkblue;
  background-color: rgb(152, 226, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
.disButton {
  height: 25px;
  font-size: 20px;
  font-weight: bold;
  color: rgb(4, 4, 58);
  background-color: rgb(57, 93, 107);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
